:root{
    /*letras*/
    --sm: 14px;
    --md: 16px;
    --lg: 18px; 
    /*colores*/
    --white: #ffffff;
    --black: #000000;
    --blue-background: #146C94;
    --soft-blue: #19A7CE;
    --grey: #F6F1F1; 
}
body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
.juego{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.tarjeta-juego{
    background-color: var(--soft-blue);
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: center;
    border-radius: 12px;
}
.titulo{
    font-weight: bold;
    font-size: var(--lg);
    color: var(--white);
    text-align: center;
    background-color: var(--blue-background);
    border: 1px solid var(--white);
    border-radius: 8px;
    width: 300px;
    height: 29px;
    margin-top: 20px;
}
.select-user img, 
.select-cpu img{
    width: 100px;
}
.select-user,
.select-cpu{
    margin: 0;
}
.vs img{
    width: 125px;
}

.batalla{
    display: flex;
    align-content: center;
    border: 3px solid var(--white);
    border-radius: 20px;
    background-color: var(--blue-background);
    height: 210px;
    margin-bottom: 16px;
}
.usuario,
.cpu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vs{
    margin-top: 25px;
}

.usuario p, 
.cpu p{
    color: var(--white);
    font-size: var(--sm);
}
.usuario span,
.cpu span {
    color: var(--white);
    font-size: var(--lg);
    font-weight: bold;
}

.seleccion{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: 3px solid var(--white);
    border-radius: 20px;
    background-color: var(--blue-background);
    height: 210px;
    width: 325px;
}
.mano-seleccion{
    display: flex;
}
.piedra img, 
.papel img,
.tijera img{
    width: 80px;
}
.piedra,
.papel,
.tijera{
    margin: 20px 0 0;
}
.mano-seleccion{
    list-style: none;
    padding: 0;
}
.mano-seleccion li img:hover{
    width: 100px;
}
.mano-seleccion li img:checked{
    width: 110px;
}
.seleccion p{
    font-weight: bold;
    color: var(--white);
    font-size: var(--lg);
}

.primary-button{
    margin: 20px 0 18px;
    font-size: var(--md);
    background-color: var(--blue-background);
    width: 150px;
    height: 42px;
    color: var(--white);
    border: 0;
    border-radius: 12px;
}